@model IEnumerable<ICandTP_Lab1.DB_.Owner>

@{
    ViewData["Title"] = "Index";
}

<h1>Власники транспортних засобів</h1>

<p>
    <a asp-action="Create">Додати нового власника</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Tin">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Tin">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Tin">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
