@model IEnumerable<ICandTP_Lab1.DB_.Vechicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Транспортні засоби</h1>

<p>
    <a asp-action="Create">Додати новий транспортний засіб</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EngineCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlateNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insuarence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerTinNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EngineCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlateNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insuarence.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerTinNavigation.Tin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Vin">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Vin">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Vin">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
